@import '../../../assets/master';

.header {
  padding: $section-top-pad $section-side-pad;
  display: flex;
  justify-content: center;
  @media (max-width: 1430px) {
    padding: 2em 60px;
  }

  @media (max-width: 540px) {
    padding: 2em 0;
  }
}

.container {
  display: flex;
  width: 80em;
}

.left {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right {
  flex: 1;
}

.navbar a {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.8em;
  color: $navlink;
}

img {
  max-width: 100%;
}

.navbar a + a {
  padding-left: 2em;
}

.hiIm {
  font-family: $heading-font;
  font-size: 20pt;
}

.period {
  -webkit-text-fill-color: $text;
}

.name {
  font-size: 60pt;
}

@media (max-width: 950px) {
  .header {
    padding: $section-top-pad $section-side-pad-mobile;
  }
  .hiIm {
    font-size: 16pt;
  }
  img {
    max-width: 80%;
  }
  .container {
    flex-direction: column;
    width: initial;
  }
  .right {
    display: flex;
    justify-content: center;
  }
  .intro,
  .navbar {
    text-align: center;
  }
  .name {
    font-size: 48pt;
  }
}
