@import "../../assets/master";

.brandContainer {
    padding: 1em $section-side-pad;
}

.brandLink {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 10px;
    color: $navlink;
}
