@import "../../../assets/master";

@mixin smallCaps {
    font-family: $heading-font;
    font-size: $tech-stack-size;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.startHead {
    font-weight: normal;
    font-size: 32pt;
    margin-bottom: 0;
}

.showcase {
    padding: $section-top-pad $section-side-pad;
}

.showcase__top {
    display: flex;
    justify-content: space-between;
    padding: 2.5em 0;
}

.showcase__info {
    max-width: 40em;
}

.showcase__heading {
    margin-bottom: 2.5em;
    h2 {
        font-size: $proj-title-size;
        margin-bottom: 0.25em;
    }
    span {
        @include smallCaps;
    }
}

.stackRegular {
    color: $navlink-light;
}

.stackDark {
    color: white;
}

.showcase__text {
    p {
        margin-bottom: 1.5em;
    }
}

.showcase__links a {
    @include smallCaps;
}

.showcase__links a:hover {
    text-decoration: underline;
}

.showcase__logo {
    margin: 0 auto;
    
    img {
        border-radius: 1em;
        max-width: 20em;
    }
}

.showcase__demo {
    display: flex;
    justify-content: center;
    video, img {
        max-width: 80%;
        border-radius: 1em;
    }
}
