@import '../../../assets/master';

@mixin smallCaps {
  font-family: $heading-font;
  font-size: $tech-stack-size;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.container {
  width: 80em;
  @media (max-width: 1430px) {
    padding: 2em 60px;
  }

  @media (max-width: 540px) {
    padding: 2em 0;
  }
}

.startHead {
  font-weight: normal;
  font-size: $proj-title-size;
  margin-bottom: 0;
}

.showcase {
  padding: $section-top-pad 0;
  display: flex;
  justify-content: center;
}

.showcase__top {
  display: flex;
  justify-content: space-between;
  padding: 2.5em 0;
}

.showcase__info {
  max-width: 40em;
}

.showcase__heading {
  margin-bottom: 2.5em;
  h2 {
    font-size: $proj-title-size;
    margin-bottom: 0.25em;
  }
  span {
    @include smallCaps;
  }
}

.stackRegular {
  color: $navlink-light;
}

.stackDark {
  color: white;
}

.showcase__text {
  p {
    margin-bottom: 1.5em;
  }
}

.showcase a {
  text-decoration: underline;
  color: inherit;
}

a.showcase__link {
  @include smallCaps;
  text-decoration: none;
  margin-right: 2em;
}

a.showcase__link:hover {
  text-decoration: underline;
}

.showcase__logo {
  display: flex;
  padding: 1em 2em;
  align-items: center;
  justify-content: center;

  img {
    border-radius: 1em;
    max-width: 17em;
  }
}

.showcase__demo {
  display: flex;
  justify-content: center;
  video,
  img {
    max-width: 100%;
    border-radius: 1em;
  }
}

@media (max-width: 800px) {
  .showcase__top {
    flex-direction: column-reverse;
  }

  .showcase {
    padding: $section-top-pad $section-side-pad-mobile;
  }

  .showcase__logo {
    display: flex;
    justify-content: center;
  }

  .showcase__logo img {
    max-width: 300px;
  }

  .showcase__demo {
    video,
    img {
      max-width: 100%;
    }
  }

  .startHead,
  .showcase__heading h2 {
    font-size: $proj-title-mobile;
  }
}

@media (max-width: 500px) {
  .showcase__logo img {
    max-width: 80%;
  }
}

@media (min-width: 600px) {
  .showcase__info + .showcase__logo {
    margin-left: 2em;
  }
}
