@import "../../../assets/master";

@mixin smallCaps {
    font-family: $heading-font;
    font-size: $tech-stack-size;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.startHead {
    font-weight: normal;
    font-size: $proj-title-size;
    margin-bottom: 0;
}

.showcase {
    padding: $section-top-pad $section-side-pad;
}

.showcase__top {
    display: flex;
    justify-content: space-between;
    padding: 2.5em 0;
}

.showcase__info {
    max-width: 40em;
}

.showcase__heading {
    margin-bottom: 2.5em;
    h2 {
        font-size: $proj-title-size;
        margin-bottom: 0.25em;
    }
    span {
        @include smallCaps;
    }
}

.stackRegular {
    color: $navlink-light;
}

.stackDark {
    color: white;
}

.showcase__text {
    p {
        margin-bottom: 1.5em;
    }
}

.showcase a {
    text-decoration: underline;
    color: inherit;
}

.showcase__links a {
    @include smallCaps;
    text-decoration: none;
}

.showcase__links a:hover {
    text-decoration: underline;
}

.showcase__info + .showcase__logo {
    margin-left: 2em;
}

.showcase__logo {
    display: flex;
    padding: 1em 2em;
    align-items: center;
    justify-content: center;
    
    img {
        border-radius: 1em;
        max-width: 17em;
    }
}

.showcase__demo {
    display: flex;
    justify-content: center;
    video, img {
        max-width: 80%;
        border-radius: 1em;
    }
}

@media (max-width: 600px) {
    .showcase__top {
        flex-direction: column-reverse;
    }

    .showcase {
        padding: $section-top-pad $section-side-pad-mobile;
    }

    .showcase__logo {
        display: flex;
        justify-content: center;
    }

    .showcase__logo img {
        max-width: 80%;
    }

    .showcase__demo {
        video, img {
            max-width: 100%;
        }
    }

    .startHead, .showcase__heading h2 {
        font-size: $proj-title-mobile;
    }
}
