// .Project {
//     background-color: white;
//     border: 1px solid #eee;
//     border-radius: 15px;
//     box-shadow: 5px 5px 15px rgba(0,0,0,.1);
//     padding: 1rem 2rem;
//     margin-bottom: 2rem;
// }

.Project {
    padding: 1em 0;
}

path {
    color: rgb(95, 175, 99);
}

.imageContainer {
    text-align: center;

    img {
        max-height: 350px;
        max-width: 100%;
        box-shadow: 1px 1px 10px #222;
        border-radius: 10px;
    }
}

.heading {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.title {
    margin: 0;
}

.subtitle {
    margin-left: 1rem;
    color: #b5b2b2;
    // color: #555;
}

@media (max-width: 590px) {
    .heading {
        flex-direction: column;
    }
    .subtitle {
        margin: 0.5rem 0;
    }
}
