.Home {
	padding: 3em 4em;
	flex: 5;
}

.section {
	display: flex;
	flex-direction: row;
	max-width: 800px;
	margin: 0 auto;
	justify-content: center;
}

.section:not(:last-child) {
	margin-bottom: 40px;
}

.Home img {
	width: 115px;
	vertical-align: middle;
}

.textContainer {
	margin-top: auto; 
	margin-bottom: auto;
	max-width: 32em;
}

.textContainer p {
	font-size: 11pt;
	padding: 0 2em;
}

@media (max-width: 815px) {
	body {
		flex-direction: column;
	}
	#me {
		width: initial;
		padding: 15px;
	}
	#me img {
		width: 150px;
	}
	.Home {
		padding: 1em;
	}
	.Home img {
		width: 90px;
	}
	.Home p {
		margin: 0;
		margin-bottom: 20px;
	}
	.imageContainer {
		display: flex;
		align-items: center;
	}
}

@media (max-width: 320px) {
	.section {
		display: flex;
		flex-direction: column;
	}
	.imageContainer { 
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.blurb-text p {
		padding: 0;
	}
}
