@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700|Roboto&display=swap');

$heading-font: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$body-font: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// regular
$bg-light: #fcfcfc;
$heading-light: black;
$text-light: black;
$navlink-light: #777;
$link-light: #dc8945;

// dark mode
$bg-dark: #2a363b;
$heading-dark: white;
$text-dark: rgba(255, 255, 255, 0.9);
$link-dark: #fecea8;
$navlink-dark: #ccc;

// $bg: $bg-dark;
// $heading: $heading-dark;
// $text: $text-dark;

$bg: $bg-light;
$heading: $heading-light;
$text: $text-light;
$link: $link-light;
$navlink: $navlink-light;
