@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700&display=swap');

$link: #fecea8;

html {
	height: 100%;
}

body {
	min-height: 100%;
	margin: 0;
	font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
	background-color: #2a363b;
}

p {
	line-height: 1.5;
}

h1 {
	color: white;
}

* {
	color: rgba(255, 255, 255, 0.9);
}

a {
	color: $link;
	// remove underline
	text-decoration: none;
}

a:hover {
	color: darken($link, 10);
}

main {
	display: flex;
	min-height: 100vh;
}

@media (max-width: 815px) {
	main {
		flex-direction: column;
	}
}

.scaleUp {
	transform: scale(1);
	transition: transform 0.4s;
}

.scaleUp:hover {
	transform: scale(1.01);
	transition: transform 0.4s;
}

footer {
	text-align: center;
	padding: 2em;

	a {
		font-size: 20pt;
		margin: 1em;
	}
	path {
		color: rgb(251, 103, 240);
	}
	path:hover {
		color: darken(rgb(251, 103, 240), 25);
	}
}
