@import "../assets/master";

html {
	height: 100%;
}

body {
	min-height: 100%;
	margin: 0;
	font-family: $body-font;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
}

body {
	background-color: $bg;
}

p {
	line-height: 1.5;
}

h1 {
	color: $heading;
}

a {
	color: $link;
	// remove underline
	text-decoration: none;
}

a:hover {
	color: darken($link, 10);
}

main {
	display: flex;
	min-height: 100vh;
}

@media (max-width: 815px) {
	main {
		flex-direction: column;
	}
}

.scaleUp {
	transform: scale(1);
	transition: transform 0.4s;
}

.scaleUp:hover {
	transform: scale(1.01);
	transition: transform 0.4s;
}

footer {
	text-align: center;
	padding: 2em;

	a {
		font-size: 20pt;
		margin: 1em;
	}
	path {
		color: rgb(251, 103, 240);
	}
	path:hover {
		color: darken(rgb(251, 103, 240), 25);
	}
}
